{% extends "layout.html" %}
{% block body %}
<div class="deck">

    <p>
    This document describes the Sussie application ({{ version }}). For the project page,
    <a href="https://www.oshydro.org/projects/sussie/index.html">go here</a>.
    </p>

</div>
    {{ body }}
{% endblock %}
